body{
	background-color:#ccb;
}

a{
	color:#bbf;
}

.container{
	display: flex;
	width:100%
}

#itemWaiting, #itemProgress, #itemFinished{
	width:73%;
}

#waiting{
	background-color:#edb;
}

#progress{
	background-color:#eec;
}

#finished{
	background-color:#cec;
}

.list-group-item, #filter, #login, #password, #confirm{
	background-color:#ffe;
}

#title-container, #formLogin{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
